@import 'reset';
@import 'mixins';
@import 'variables';

body {
  font-family: 'Montserrat', sans-serif;
  color: $mainFontColor;
  background-color: $mainBg;
  overflow-x: hidden;
}

.container {
  max-width: 1200px + 15px + 15px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-weight: 500;

  .logo {
    width: 124px;
  }
  .logo__img {
    width: 100%;
  }
  .nav {
    flex: 1 1 auto;

    &__list {
      display: flex;
    }
    &__item {
      margin-left: 69px / 990px * 100%;
      transition: all 0.3s;
    }

    &__item:hover {
      color: $accentColor;
    }
  }
  .callback {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__btn {
      margin-top: 10px;
      background-color: transparent;
      color: $accentColor;
      font: inherit;
      transition: color 0.3s;
    }

    &__btn:hover {
      color: $mainFontColor;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 130px;
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;

  &__text {
    font-size: 22px;
    font-weight: 400;
  }
}

.btn-advice {
  @include button ();
  width: 300px;
  padding: 17px 0;
}

.slider {
  width: 570px;
  height: 440px;
  flex: 0 0 auto;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 5000px;
    height: 520px;
    border: 10px solid $accentColor;
    position: absolute;
    top: (440px - 520px) / 2;
    left: 90px;
    z-index: -2;
  }
  &__list {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &__item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--active {
    opacity: 1;
  }

  .arrow {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    top: -60%;

    &__left {
      @include arrow();
      background-image: url("../images/arrow-left.png");
    }

    &__right {
      @include arrow();
      background-image: url("../images/arrow-right.png");
    }
  }

  .dots {
    position: relative;
    display: flex;
    justify-content: center;
    top: -90px;

    &__item {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $mainFontColor;
      margin-right: 15px;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: $accentColor;
    }
  }
}

.block--title {
  &::after {
    @include title-line ();
    left: 0;
  }

  &::before {
    @include title-line ();
    right: 0;
  }
}

.work {
  @include bg ();
  background-image: url("../images/work-bg.jpg");
  position: relative;

  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $mainBg;
    opacity: 0.85;
    position: absolute;
  }

  .container {
    position: relative;
    z-index: 50;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 30px;
    text-align: center;
    position: relative;  
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1005px;
    margin-left: auto;
    margin-right: auto;
    
  }

  &__item {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0;

    &:last-child {
      margin: auto;
    }
  }

  &__item-number {
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.05em;

    color: $accentColor;
    opacity: 0.5;
    margin-right: 20px;
  }

  &__item-text {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
}

.services {
  .container {
    padding-top: 70px;
    padding-bottom: 110px;
  }

  &__title {
    font-size: 30px;
    line-height: 37px;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 300px;
      height: 3px;
      background-color: $accentColor;
      left: calc(50% - 300px/2);
      margin-top: 16px;
    }
  }

  &__body {
    display: flex;
    max-width: 1005px;
    margin: 60px auto;
  }

  &__menu {
    margin-right: 20px;
    width: 50%;

    &-item {
      @include bg();
      min-height: 180px;
      border: 4px solid $accentColor;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      position: relative;

      transition: all 0.2s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $accentColor;
        font-weight: 600;

        &::after {
          opacity: 0.8;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        background-color: black;
        transition: opacity 0.5s;
      }

      &-text {
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-align: center;
        width: 200px;
        margin-top: auto;
        position: relative;
        z-index: 2;
      }

      &-icon {
        width: 25px;
        height: 25px;
        align-self: flex-start;
        margin-top: auto;
        position: relative;
        z-index: 2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

      }
    }
  }

  &__content {
    width: 50%;
    border: 4px solid $accentColor;
  }

  .bg-finishingWork {
    background-image: url('../images/FinishingWork.png');
  }

  .bg-iconBrush {
    background-image: url('../images/icon_brush.png');
  }

  .bg-construction {
    background-image: url('../images/construction.png');
  }

  .bg-iconHouse {
    background-image: url('../images/icon_house.png');
  }

  .bg-electrician {
    background-image: url('../images/electrician.png');
  }

  .bg-iconElectrician {
    background-image: url('../images/icon_electrician.png');
  }

  .bg-sanitary {
    background-image: url('../images/sanitary.png');
  }

  .bg-iconSanitary {
    background-image: url('../images/icon_sanitary.png');
  }

  &__text {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
  }

  &__slogan {
    color: $accentColor;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
}
